.root {
    -fx-font-size: 10pt;
    -fx-base: Black;
    -fx-background: DimGray;
    -fx-text-fill: FloralWhite; 
    -fx-focus-color: DarkOrange;
}

.button {
	-fx-focus-color: transparent;
	-fx-default-button: DarkOrange;
}

.list-cell, .text-field {
	-fx-text-fill: FloralWhite; 
}

:selected {
	-fx-background-color:rgb(62,62,62);
}

#quitButton {
	-fx-background-color: DarkRed;
}

#topBar {
	-fx-background-color: Black;
}